.movie-sidebar-container {
  height: 100vh;
}

.movie-header-container {
    padding: 0px !important;
}

@media (max-width: 992px) {
  .movie-sidebar-container {
    width: 28%;
  }

  .movie-header-container {
    width: 72%;
  }
}
