<div class="movie-header-container d-flex justify-content-end">
  <div class="dropdown text-end">
    <a routerLink="/users" class="d-block link-dark text-decoration-none dropdown-toggle user" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="far fa-user user-icon"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end text-small">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </div>

</div>

