<div class="row profile">
  <div class="col-lg-5 img-container">
    <img src="assets/profile1.jpg" alt="Profile Image" class="img-fluid img-profile">
  </div>
  <div class="col-lg-7">
    <div class="user-name">Aathirai Karunaharalingam</div>
  </div>
</div>

<div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/movies">Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/users">Users</a>
    </li>
  </ul>
</div>

